.card {
    background-color: white;
    width: 100 px;
    height: 400 px;
    flex-flow: column wrap;
    border-color: slategrey;
    margin: 30px 400px 20px 80px;
    border-style: solid;
    border-color: gray;
}
.detail {
    margin: 40px 10px 20px 0px;
}
.flex {
    display: flex;
}
.blue-bar {
    background-color: teal;
    height: 20px;
    padding: 30px;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.row {
    display: flex;
}
li {
    list-style-type: none;
    background-color: tomato;
    display: flex;
    /*justify-content:space-around;*/
    align-items:center;
    height: 45px;
}
.bold {
    font-size: 30px;
    font-weight: bold;
}
.center {
    align-items: center;
}